<div style="width: 90%; margin-left: 5%;">
    <mat-card class="" id="loanInfoId" >
        <mat-card-title class="matCardTitle">
            <label>Loan Informations</label>
        </mat-card-title>
        <mat-card-content>
            <app-hazard-loan-informations></app-hazard-loan-informations>
        </mat-card-content>
    </mat-card>
</div>

<div style="width: 90%; margin-left: 5%;">

    <mat-card class="matCartd" id="#" style="float: left;">
        <mat-card-title class="matCardTitle">
            <label>Hazard Insurance Faild Evaluations</label>
        </mat-card-title>
        <mat-card-content>
            <app-hazard-failed-evaluation></app-hazard-failed-evaluation>
        </mat-card-content>
    </mat-card>

    <mat-card class="matCartd" id="#" style="float: right; ">
        <mat-card-title class="matCardTitle">
            <label>HomeOwner's Declarations</label>
        </mat-card-title>
        <mat-card-content>
            <app-hazard-home-owner-declarations [messageHomeOwner]="messageHomeOwner"></app-hazard-home-owner-declarations>
        </mat-card-content>
    </mat-card>

    <mat-card class="matCartd" id="#" style="float: left; ">
        <mat-card-title class="matCardTitle">
            <label>Hazard Insurance Passed Evaluations</label>
        </mat-card-title>
        <mat-card-content>
            <app-hazard-passed-evaluation></app-hazard-passed-evaluation>
        </mat-card-content>
    </mat-card>

    <mat-card class="matCartd" id="#" style="float: right; height: 200px; ">
        <mat-card-title class="matCardTitle">
            <label>Policy Agency Information's</label>
        </mat-card-title>
        <mat-card-content>
            <app-hazard-policy-agency-informations></app-hazard-policy-agency-informations>
        </mat-card-content>
    </mat-card>

    
    <mat-card class="matCartd" id="#" style="float: left; ">
        <mat-card-title class="matCardTitle">
            <label>Notes & Comments</label>
        </mat-card-title>
        <mat-card-content>
            <app-hazard-notes-coments></app-hazard-notes-coments>
        </mat-card-content>
    </mat-card>
</div> 

