.matDividerCustomStyle {
    border-top-width: 3px !important;
    border-top-color: yellow !important;
    margin: 5px 0px 10px 0px;
  }
  
  .pageHeaderDiv{
    width: 100%;
    height: 50px;
  }
  
  #headerLebelDiv{
    float: left;
    width: 30%;
    font-size: larger;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1% 2% 1% 1%;
  }
  
  #headerActions{
    float: left;
    width: 55%;
    padding: 1% 2% 1% 1%;
  }
  
  #headerBackBtnDiv{
    width: 6%;
    float: right;
    padding: .5% 1% 1% 1%;
  }
  
  .matDividerCustomStyle {
    border-top-width: 3px !important;
    border-top-color: yellow !important;
    margin: 5px 0px 10px 0px;
  }
  
  .pageHeaderDiv{
    width: 100%;
    height: 50px;
  }
  
  #headerLebelDiv{
    float: left;
    width: 38%;
    font-size: larger;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1% 0.5% 1% 1%;
  }
  
  #headerActions{
    float: left;
    width: 55%;
    padding: 1% 2% 1% 1%;
  }
  
  #headerBackBtnDiv{
    width: 6%;
    float: right;
    padding: .5% 1% 1% 1%;
  }

  #applicationDetailsMatCard{
    width: 48%; 
    float: left; 
    margin-top:1%; 
    margin-right:1%; 
    margin-left:1%; 
    height: 400px;
  }

  #contactDetailsMatCard{
    width: 48%; 
    float: right; 
    margin-top:1%; 
    margin-right:1%; 
    height: 400px;
  }

  table {
    table-layout: fixed;
    width: 100%;
}

  .tableTitleLebel{
    font-weight: bold;
    font-size: medium;
    width: 25% !important;
  }

  .tableValueLebel{
    font-weight: 200;
    font-size: small;
    width: 48% !important;
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
  }