<div style="width: 100%;">
    <div class="pageHeaderDiv">
        <div id="headerLebelDiv">System Exception Web Administrator</div>
        <div id="headerActions"> </div>
        <div id="headerBackBtnDiv"> <button mat-raised-button routerLink='/home/systemexception/' color="accent">Back</button></div>
    </div>

    <mat-divider class="matDividerCustomStyle"></mat-divider>
    <div id="menuHeaderDiv" >
        <h3 style="margin-bottom: -5px; font-weight: bolder;">Tools</h3>
        <mat-divider class="matDividerMenuHeaderCustStyle"></mat-divider>
        <a routerLink='/home/systemexception/exceptionAdmin/listOfApplicationProfile' color="accent"> Application Profile</a><br>
        <a routerLink='/home/systemexception/exceptionAdmin/listOfErrorCodes' color="accent"> Exception Center</a><br>
        <a routerLink='/home/systemexception/exceptionAdmin/listOfResolutionSteps' color="accent">Resolution Center</a><br>
    </div>
    
</div>